




<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Welcome to Sandy Tseng's Blog</h1>
                    <hr class="small">
                    <span class="subheading">My first website! A geeky cabin crew's journal of her programming adventure. 
                        <br>
                        歡迎來到我自己寫的第一個網站！跟著我這個空服員一起在世界各地創造另一個天地吧！</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% @articles.each do |article| %>
            <div class="post-preview">
               <%= link_to(article_path(article)) do %>
                      <h2 class="post-title">
                        <%= article.title %>
                      </h2>
                    <% end %>
                    <h3 class="post-subtitle">
                        <%= article.text %>
                    </h3>
                
             </div>
             <hr>
          <% end %>
        </div>
    </div>
</div>

<hr>



